root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,axaml,xml,csproj,props}]
indent_style = space
indent_size = 4

[*.{axaml,xml,csproj,props,json,yml,yaml}]
indent_size = 2

[src/**.cs]
dotnet_diagnostic.IDE0005.severity = warning
